.app {
    display: flex;
    place-items: center;
    height: 120px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Mochiy Pop P one", sans-serif;

    &__name {
        padding-left: 10px;
    }

    &__version {
        padding-left: 5%;
    }
}